In [1]:
import pandas as pd
import numpy as np
from glob import glob
import os
import pickle
from tqdm import tqdm 
from scipy import stats

In [2]:
# Константы
long = [-74.25559, -73.70001]
lat = [40.49612, 40.91553]
PATH_TO_DATA = '/mnt/e/python/taxi/'

In [30]:
ddf = pd.read_csv(PATH_TO_DATA + 'done/yellow_tripdata_2015-01.csv', parse_dates=[1, 2], nrows=10, usecols=range(7))
#ddf = ddf.rename(columns={' pickup_datetime':'tpep_pickup_datetime', ' dropoff_datetime': 'tpep_dropoff_datetime'})
ddf.columns.to_list()

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'pickup_longitude',
 'pickup_latitude']

In [27]:
ddf.columns

Index(['vendor_id', ' pickup_datetime', ' dropoff_datetime',
       ' passenger_count', ' trip_distance', ' pickup_longitude',
       ' pickup_latitude'],
      dtype='object')

In [3]:
def prepare_df(df):
    # Удаляем поездки с нулевой длительностью, нулевым количеством пассажиров и нулевым расстоянием поездки по счётчику 
    df = df[(df.tpep_pickup_datetime != df.tpep_dropoff_datetime) & (df.trip_distance > 0) & (df.passenger_count > 0)]
    # Удаляем поездки скоординатами начала за пределами Нью-Йорка
    df = df[(long[0]<=df.pickup_longitude) & (df.pickup_longitude<=long[1])&
            (lat[0]<=df.pickup_latitude) & (df.pickup_latitude<=lat[1])]
    # Округляем время начала поездки до целого часа
    df['tpep_pickup_datetime'] = df.tpep_pickup_datetime.dt.floor(freq='H')
    return df

In [4]:
def foo(df):
    x = df.pickup_longitude.values
    y = df.pickup_latitude.values
    ret = stats.binned_statistic_2d(x, y, None, 'count', bins=50, range=[long, lat])
    bdf = pd.Series(ret.statistic.ravel())
    bdf.index = bdf.index + 1
    return bdf

In [5]:
%%time
files = glob(f'{PATH_TO_DATA}que/*.csv')
for file in tqdm(files):
    df = pd.read_csv(file, parse_dates=[1,2], usecols=range(7))
    df.columns = ['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count',
                  'trip_distance', 'pickup_longitude', 'pickup_latitude']
    #print(df[:3])
    df = prepare_df(df)
    dfg = df.groupby('tpep_pickup_datetime').apply(foo)
    pickle_file = f'{PATH_TO_DATA}pickles/{file.rsplit("/", 1)[-1][:-4]}.pkl'
    with open(pickle_file, 'wb') as f:
        pickle.dump(dfg, f, protocol=2)

100%|██████████| 1/1 [01:58<00:00, 118.59s/it]

CPU times: user 1min 10s, sys: 22.3 s, total: 1min 33s
Wall time: 1min 58s

In [19]:
# Загрузим данные
df = pd.read_csv('/mnt/e/python/taxi/yellow_tripdata_2015-05.csv', 
                 parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'],
                 usecols=range(7), nrows=10)
df[:3]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude
0,1,2015-05-05 23:37:40,2015-05-05 23:45:41,1,2.00,-74.001678,40.739311
1,2,2015-05-05 23:37:40,2015-05-05 23:40:36,1,0.54,-73.930840,40.744789
2,2,2015-05-05 23:37:40,2015-05-05 23:44:03,3,2.10,-74.001411,40.731087

In [8]:
%%time
dfg = df.groupby('tpep_pickup_datetime').apply(foo)
#dfg.index = dfg.index.droplevel(1)

CPU times: user 3.02 s, sys: 499 ms, total: 3.52 s
Wall time: 3.51 s

### 4. Выведите первые строки полученной таблицы с указанием времени, идентификатора зоны и количества поездок.

In [9]:
dfg.iloc[:5, 1220: 1240]

,1221,1222,1223,1224,1225,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235,1236,1237,1238,1239,1240
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,,,
2016-05-01 00:00:00,18.0,45.0,36.0,41.0,8.0,5.0,697.0,1334.0,992.0,1258.0,881.0,1143.0,780.0,329.0,96.0,0.0,0.0,0.0,0.0,0.0
2016-05-01 01:00:00,18.0,21.0,32.0,29.0,7.0,6.0,866.0,1420.0,891.0,1022.0,713.0,1005.0,545.0,171.0,55.0,0.0,0.0,0.0,0.0,0.0
2016-05-01 02:00:00,14.0,25.0,22.0,26.0,3.0,4.0,1001.0,1260.0,785.0,818.0,533.0,810.0,363.0,82.0,50.0,0.0,0.0,0.0,0.0,1.0
2016-05-01 03:00:00,7.0,25.0,15.0,21.0,8.0,1.0,859.0,966.0,545.0,611.0,418.0,662.0,187.0,54.0,33.0,1.0,0.0,0.0,0.0,0.0
2016-05-01 04:00:00,4.0,15.0,14.0,15.0,1.0,1.0,405.0,479.0,308.0,379.0,353.0,512.0,153.0,28.0,18.0,0.0,0.0,0.0,0.0,0.0

In [10]:
dfg.shape

(744, 2500)